.form_div{
  text-align: center;
  color: red;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
label{
	color: black
}
.maindiv{
	outline: 5px dotted green;
}